.table {
    height: 225px;
    border-radius: 10px; 
    border-top-left-radius: 10px;
}
  
.scrollable-tbody {
    display: block;
    overflow-y: auto;
    max-height: 40vh; 
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em);
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn-primary-1{
    background-color: #3a170d;
    color: #dee2e6;
    font-weight: bold;
    height: 55px;
    font-size:30px;
    text-align: center; 
}

body{
    background-image: url(../img/blurpro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw !important;
    height: 100vh;
}
h1{
    color: #dee2e6;
}

h2{
    color: white;
}
.btn-primary{
    background-color:white ;
    border: none;
    text-align: center;
    position: relative;
    height: 37px;
    justify-content:right;
    color: black;
    font-weight: bold;
}

.head{
    /* background-color:chocolate; */
    border-radius: 5px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* color: white; */
    
}
.btn-primary:hover{
    background-color: #322C2B;
    color: white;
}

.btnUpdate{
    background-image: url(../img/changes.png);
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}

.btnDelete{
    background-image: url(../img/bin.png);
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}
.btnUpdate:hover{
    background-color: darkgreen;
}

.btnDelete:hover{
    background-color: red;
}

.form-label{
    color: white;
    font-weight: bold;
}

.h3{
    color: white !important;
}
.form-control{
    width: 500px;
    
}




