*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;   
} 

/*.all-content{
    background: #322C2B;
}*/

/* nav */

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #322C2B ;
    border-radius: 10px;
}

html ::-webkit-scrollbar{
    width: 10px;
}

#navbar{
    background-color:  #322C2B!important;
}

#logoimg img{
    border-radius: 10x;
    width: 70px;
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 50px;
}


.nav-item .nav-link{
    color: white !important;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover{
    background-color: black;
    border-radius: 5px;
    color: white;
}

#navbar form button{
    background-color: #803D3B;
    color: white;
    border: 1px solid #803D3B;
}

/* nav */

/* body */

#main{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./Images/choc3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}

#main .content{
    padding-top: 210px;
    margin-left: 56px;
}

#main .content h3{
    font-size: 50px;
    color: white;
}

#main .content p{
    margin-top: 10px;
    color: white;

}

#btnOrder{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btnOrder:hover{
    background: #322C2B;
    color: white;
}


/* body */



/* about us */
#about{
    width: 100%;
    height: 100vh;
    background-color: #F6F1E9;
}

.text{
    font-weight: bold;
}


#about .container{
    padding-top: 70px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
    color: #322C2B;
    font-size: 40px;
    font-weight: bold;
}

.head span{
    color: #322C2B;
}

.chocoAboutUs{
 
    font-family: 'Roboto', sans-serif; 
    font-weight: 800; 
    font-size: 5vw;
    background-image: url(./Images/lpl.webp);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
} 



#about .card{
    border-radius: 15px;
}

#about .card img{
    border-radius: 15px;
}

@media screen and (max-width:982px){
    #about P{
        font-size: 8px;
    }
}

@media screen and (max-width:766px){
    #about P{
        font-size: 15px;
    }

    #about{
        height: 120vh;
    }
}


/* about us */

/* best sellers */


/* best sellers */

/* gallery */

#gallery{
    width: 100%;
    background-image: url(./Images/white.jpg);
    
}

.headingG{
    text-align: center;
    color:#322C2B; 
    font-size: 40px;
    font-weight: bold;
}


#gallery .card{
    border-radius: 10px;
    cursor: pointer;    
}

#gallery .card img{
    border-radius: 10px;
    
} 

body{
    background-image: url('choc3.jpeg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.btn-primary{
    background-color: #3a170d;  
    width: 100%;
    height: 10%;
    border: none;
    vertical-align: bottom;
    position: absolute;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-title{
    
}

.card{
    background-color:rgba(207, 207, 207, 0.85);
    border: 0px;
}

.card-text{
    height: 100px;
}

.badge-success{
    background-color: #C3883D;
    font-size: 15px;
    position: absolute;  
}

.card-img-top{
    border-radius: 5px; 
    border-bottom: #3a170d; 
    border: 5px; 
    height: 175px;
}
