body {
    width: 100vw;
    height: 100vh;
    background-image: url(blurpro.jpg);
    background-size: cover;
    overflow: hidden;
}

.leftPanel {
    width: 20%;
    height: 100%;
    background-color: #3a170d;
}

.midPanel {
    bottom: 0;
    right: 0;
    position: absolute;
    height: 80%;
    width: 80%;
}

.headPanel {
    position: absolute;
    height: 20%;
    width: 100%;
}

/*scrolable table*/

.table {
    height: 40vh; 
}
  
.scrollable-tbody {
    display: block;
    overflow-y: auto;
    max-height: 40vh; 
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em);
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.btnLink {
    width: 100%;
    height: 15%;
    background-color: #3a170d;
    font-size: 1.5vw;
    font-weight: 500;
    color: #dee2e6;
}

.btnLink:hover {
    background-color: #160703;
    font-size: 2vw;
    font-weight: 700;
}


.btn-add{
    background-color: rgb(182, 171, 171);
    color: black;
    border: none;
    text-decoration: none;
}

.btn-add:hover{
    background-color: #322C2B;
    color: white;
}

.image{
    width: 60px;
    height: 50px;
}

h1{
    color: white;
}

.logout{
    background-image: url(shutdown.png);
    background-size: cover;
    background-color:  #3a170d;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 20px;
}

.btnUpdate{
    background-image: url(../cart/changes.png);
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}

.btnDelete{
    background-image: url(../cart/bin.png) ;
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}

.btnUpdate:hover{
    background-color: darkgreen;
}

.btnDelete:hover{
    background-color: red;
}

.btnView{
    background-image: url(view.png) ;
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}
.btnDone{
    background-image: url(check-mark.png) ;
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}
.btnView:hover{
    background-color: gray;
}
.btnDone:hover{
    background-color: green;
}

.btnUndo{
    background-image: url(undo.png) ;
    height: 25px;
    width: 25px;
    border: none;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}
.btnUndo:hover{
    background-color: gray;
}

.btn-primary{
    background-color: white;
    color: black;
    border:none;
}
.btn-primary:hover{
    background-color:#322C2B;
    color: white;
}

.topCard{
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 10px;
}

.lableDetails{
    color: white;
}